%h1 Moves Data Cruncher

.navbar.navbar-default
  .container-fluid
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Home', root_path
        %li
          = link_to 'Logout', destroy_user_session_path, method: 'delete'


/ %p= @moves_client.profile

/ %p= @moves_client.daily_summary

/ %p= @moves_client.daily_places

= high_chart('daily', ChartGenerators::Dashboard::ColumnChart.call(moves_client: @moves_client))
