= render 'layouts/nav'

.row
  .col.s6
    = high_chart('walking_and_cycling', ChartGenerators::Dashboard::ColumnChart.call(moves_client: @moves_client))

  .col.s6
    = high_chart('exercise', ChartGenerators::Dashboard::PieChart.call(moves_client: @moves_client))
.row
  .col.s12
    = high_chart('line', ChartGenerators::Dashboard::LineChart.call(moves_client: @moves_client))
